@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.animate-rainbow {
  animation: rot 2s linear infinite;
}

@keyframes rot {
  0%,
  100% {
    filter: hue-rotate(-0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

.ease-header {
  transition-timing-function: cubic-bezier(1, 0, 0, 0.81);
}

body {
  position: relative;
}

.input {
  @apply block rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm;
}
