---
import Layout from '$app/components/layout.astro'
import Renderer from '$modules/blog/components/renderer.astro'

import { getBlog } from '$modules/blog/functions/getBlog'

const blog = await getBlog(Astro.params.slug ?? '')

if (!blog) {
  return new Response(undefined, {
    status: 404,
  })
}
---

<Layout title="Blogs" path="/blogs">
  <div class="mx-auto max-w-3xl px-3 sm:px-6 xl:max-w-5xl xl:px-0">
    <div class="mx-auto max-w-3xl sm:px-6 xl:max-w-5xl xl:px-0">
      <h1
        class="md:leading-14 text-3xl font-extrabold leading-10 tracking-tight text-gray-900 md:text-5xl lg:text-[54px] lg:leading-[64px]"
      >
        {blog.fields.title}
      </h1>
      <Renderer content={blog.fields.content} />
    </div>
  </div>
  <div class="pb-12" />
</Layout>
