---
import Garten from './garten.astro'
---

<footer
  class="mx-auto mb-8 mt-12 flex max-w-7xl items-center px-4 text-sm text-gray-600 sm:text-base md:px-6"
>
  <div class="flex space-x-2">
    <a href="https://webring.wonderful.software#rayriffy.com" title="webring">
      <img
        src="/webring.svg"
        class="aspect-square w-6 transition-transform duration-700 ease-in-out hover:rotate-[720deg] sm:w-8"
        alt="webring"
      />
    </a>
    <a href="https://creatorsgarten.org/ring" title="Creatorsgarten">
      <Garten />
    </a>
  </div>
  <div class="mx-4 h-6 border-l-2 border-gray-300 sm:h-8"></div>
  <p>© {new Date().getFullYear()} Phumrapee Limpianchop</p>
</footer>
