---
import R from './r.astro'

import { paths } from '../constants/paths'
import Garten from './garten.astro'
import MenuIcon from './menuIcon.astro'

const { pathname } = new URL(Astro.request.url)
---

<header
  x-bind:class="! open ? 'h-12' : 'h-full'"
  class="ease-header fixed bottom-0 z-50 h-12 w-full overflow-hidden border-t bg-white transition-all duration-500 md:h-20"
  x-data="{ open: false }"
>
  <div class="justify-between md:flex md:px-8 md:py-6">
    <section
      class="grid h-12 grid-cols-3 justify-start border-b md:flex md:h-full md:border-none"
    >
      <button class="h-12 w-12 md:hidden" x-on:click="open = ! open">
        <MenuIcon class="mx-auto h-5 w-5" />
      </button>
      <div class="flex items-center justify-center">
        <a rel="prefetch" href="/">
          <R class="mx-auto my-auto h-6 w-6 md:mx-0 md:h-8 md:w-8" />
        </a>
      </div>
      <ul
        class="ml-8 hidden items-center space-x-4 text-sm text-neutral-400 md:flex"
      >
        {
          paths.map(({ path, name }) => (
            <li
              class={
                (path === '/' ? pathname === path : pathname.startsWith(path))
                  ? 'text-black'
                  : ''
              }
            >
              <a rel="prefetch" href={path} class="no-underline">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="hidden space-x-4 md:flex">
      <a href="https://webring.wonderful.software#rayriffy.com" title="webring">
        <img
          src="/webring.svg"
          class="aspect-square w-8 transition-transform duration-700 ease-in-out hover:rotate-[720deg]"
          alt="webring"
        />
      </a>
      <a href="https://creatorsgarten.org/ring" title="Creatorsgarten">
        <Garten />
      </a>
    </section>
  </div>

  <section class="block overflow-y-scroll md:hidden">
    <ul class="divide-y border-b text-neutral-400">
      {
        paths.map(({ path, name }) => (
          <li>
            <a rel="prefetch" href={path} class="no-underline">
              <p
                class={[
                  'px-4 py-3',
                  Astro.props.path === path ? 'text-black' : '',
                ].join(' ')}
              >
                {name}
              </p>
            </a>
          </li>
        ))
      }
      <li class="flex space-x-2 px-4 py-3">
        <a
          href="https://webring.wonderful.software#rayriffy.com"
          title="webring"
        >
          <img
            src="/webring.svg"
            class="aspect-square w-6 transition-transform duration-700 ease-in-out hover:rotate-[720deg]"
            alt="webring"
          />
        </a>
        <a href="https://creatorsgarten.org/ring" title="Creatorsgarten">
          <Garten />
        </a>
      </li>
    </ul>
  </section>
</header>
