---
import { ViewTransitions } from 'astro:transitions'

import SEO from '$core/components/seo.astro'
import Header from './header.astro'

import '../styles/tailwind.css'
import '../styles/twemoji.css'
import BlogPreview from './blogPreview.astro'

export interface Props {
  noPadding?: boolean
}

const { noPadding = false } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=contain"
    />
    <link rel="icon" href="/favicon.png" />

    <ViewTransitions />

    <slot name="seo">
      <SEO description="The front frontier of rayriffy.com!" />
    </slot>
  </head>
  <body>
    <BlogPreview />
    <main class={noPadding ? '' : 'pb-12 md:pb-20'}>
      <slot />
    </main>

    <Header {...Astro.props} />
  </body>
</html>
