---
import Header from './header.astro'

import '../styles/tailwind.css'

export interface Props {
  title?: string
  path: string
  noPadding?: boolean
}

const { title, noPadding = false } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=contain"
    />

    <link rel="icon" href="/favicon.png" />

    <title>{title ? `${title} · rayriffy` : 'rayriffy'}</title>
    <meta name="description" content="The front frontier of rayriffy.com!" />

    <link rel="dns-prefetch" href="https://blog.rayriffy.com" />

    <script src="//unpkg.com/alpinejs" defer is:inline></script>
  </head>
  <body>
    <main class={noPadding ? '' : 'pb-12 md:pb-20'}>
      <slot />
    </main>

    <Header {...Astro.props} />
  </body>
</html>
