---
import { paths } from '../constants/paths'

export interface Props {
  path: string
}
---

{
  paths.map(path => (
    <li>
      <a
        rel="prefetch"
        href={path.path}
        class={`${
          path.path === Astro.props.path
            ? 'text-blue-400'
            : 'hover:text-blue-400'
        } font-medium animate-rainbow text-base`}
      >
        {path.name}
      </a>
    </li>
  ))
}
