---
import Layout from '../app/components/layout.astro'
import Listing from '../modules/articles/components/listing.svelte'
---

<Layout title="Articles" path="/articles">
  <div class="mx-auto mt-10 max-w-7xl px-4 pb-6 md:px-6">
    <section>
      <h1 class="text-xl">
        I love to share many stories from programming, games to lifestyles on my
        blog. Here're the latest blogs that I wrote. If you want to learn more
        about articles that I wrote, please have a look at <a
          href="https://blog.rayriffy.com">Riffy Blog</a
        >.
      </h1>
    </section>

    <section
      class="mt-6 grid grid-cols-1 items-center gap-8 sm:grid-cols-2 lg:grid-cols-3"
    >
      <Listing client:load />
    </section>
  </div>
</Layout>
