---
import { Picture } from '@astrojs/image/components'
import Layout from '../app/components/layout.astro'
---

<Layout title="Biography" path="/biography">
  <div class="mx-auto mt-10 max-w-7xl px-4 pb-6 md:px-6">
    <div class="space-y-6 lg:flex lg:flex-row-reverse lg:gap-8 lg:space-y-0">
      <div class="w-full shrink-0 lg:w-3/5">
        <Picture
          src="/biography.jpg"
          aspectRatio={2000 / 1334}
          class="h-auto w-full"
          alt="cover"
          decoding="async"
          widths={[1600]}
          sizes="(max-width: 1280px) 100vw, 1280px"
          formats={['jpg', 'webp', 'avif']}
          background="white"
        />

        <h1 class="mt-2 text-xl font-medium lg:text-2xl">
          [<a
            href="/full-resume-20230310.pdf"
            class="mx-1 text-gray-600 hover:text-gray-400">Full resume</a
          >]
        </h1>
      </div>
      <div
        class="col-span-2 w-full space-y-4 rounded-2xl bg-purple-600 p-6 text-2xl text-white lg:w-2/5"
      >
        <p>
          Riffy is a full-stack web developer who make a lot of cool stuff with
          modern web technologies. Moreover that, he is working hard on building
          maker skills for embed system and building complex cluster system with
          Raspberry Pi.
        </p>
        <p>
          Dispite that, he study web technologies for over 8 years already, and
          now he is looking for the next chapter.
        </p>
      </div>
    </div>
  </div>
</Layout>
