---
import SEO from '$core/components/seo.astro'
import CfImage from '$core/components/cfImage.astro'
import Layout from '../app/components/layout.astro'

import { socials } from '../modules/contact/constants/socials'

export const prerender = true
---

<Layout>
  <SEO slot="seo" title="Contact" description="Contact me for any inquiries." />

  <div class="mx-auto mt-10 max-w-7xl px-4 pb-6 md:px-6">
    <section class="mb-8 mt-12 gap-8 sm:flex">
      <div>
        <div
          class="mx-auto aspect-square w-52 shrink-0 overflow-hidden rounded-full bg-purple-200 sm:mx-0"
        >
          <CfImage
            src="/memoji.png"
            alt="memoji"
            width={220}
            ratio={1}
            class="aspect-square w-full"
          />
        </div>
      </div>
      <div class="mt-6 divide-y-2 divide-dashed divide-gray-400 sm:mt-0">
        <div class="pb-4">
          <h1 class="text-4xl font-medium">Phumrapee Limpianchop</h1>
          <h2 class="my-4 text-2xl">
            Senior Frontend Engineer, LINE MAN Wongnai
          </h2>
          <p class="text-xl">
            Work:
            <a href="mailto:phumrapee.l@lmwn.com">phumrapee.l@lmwn.com</a>
          </p>
          <p class="text-xl">
            Personal:
            <a href="mailto:mail@rayriffy.com">mail@rayriffy.com</a>
          </p>
        </div>
        <div class="pt-4">
          <h2 class="text-2xl">Follow me</h2>
          <div class="space-x-2">
            {
              socials.map(social => (
                <a href={social.url} class="text-lg">
                  {social.label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
