---
import { Image } from '@astrojs/image/components'
import Layout from '../app/components/layout.astro'
import { socials } from '../modules/contact/constants/socials'
---

<Layout title="Contact" path="/contact">
  <div class="max-w-7xl mx-auto mt-10 px-4 md:px-6 pb-6">
    <section class="mt-12 mb-8 sm:flex gap-8">
      <div>
        <div
          class="w-52 aspect-square rounded-full bg-purple-200 overflow-hidden shrink-0 mx-auto sm:mx-0"
        >
          <Image
            src="/memoji.png"
            alt="memoji"
            format="png"
            width={220}
            height={220}
            aspectRatio={1}
            class="w-full aspect-square"
          />
        </div>
      </div>
      <div class="mt-6 sm:mt-0 divide-y-2 divide-gray-400 divide-dashed">
        <div class="pb-4">
          <h1 class="text-4xl font-medium">Phumrapee Limpianchop</h1>
          <h2 class="text-2xl my-4">Platform Engineer<br />BRIKL, Thailand</h2>
          <p class="text-xl">
            Work:
            <a href="mailto:phumrapee@brikl.com">phumrapee@brikl.com</a>
          </p>
          <p class="text-xl">
            Personal:
            <a href="mailto:mail@rayriffy.com">mail@rayriffy.com</a>
          </p>
        </div>
        <div class="pt-4">
          <h2 class="text-2xl">Follow me</h2>
          <div class="space-x-2">
            {
              socials.map(social => (
                <a href={social.url} class="text-lg">
                  {social.label}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
