---
import HeroImage from '$modules/hero/components/HeroImage.astro'
import Layout from '$app/components/layout.astro'
import { heroItems } from '$modules/hero/constants'

export const prerender = true
---

<Layout noPadding>
  <div
    id="frontImage"
    class="snap-mandatory snap-x flex overflow-x-auto overflow-y-hidden"
  >
    {heroItems.map(item => <HeroImage {...item} />)}
  </div>
</Layout>

<style>
  #frontImage {
    scrollbar-width: none;
  }

  #frontImage::-webkit-scrollbar {
    display: none;
  }
</style>
