---
import FrontImage from '$app/components/frontImage.astro';
import CfImage from '$core/components/cfImage.astro'
import Layout from '../app/components/layout.astro'

export const prerender = true
---

<Layout noPadding>
  <div class="snap-mandatory snap-x flex overflow-x-auto overflow-y-hidden">
    <FrontImage src="/front/1.jpg" />
    <FrontImage src="/front/2.jpg" />
  </div>
  <!-- <CfImage
    id="cover"
    src="./front.jpg"
    width={{
      sm: 640,
      md: 768,
      lg: 1024,
      xl: 1280,
      max: 2000,
    }}
    ratio={1.33}
    fetchpriority="high"
    decoding="async"
    alt="cover"
  /> -->
</Layout>

<style is:global>
  picture,
  img#cover {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: -webkit-fill-available;
    object-fit: cover;
    flex-shrink: 0;
  }
</style>
