---
import Layout from '../app/components/layout.astro'
import Card from '$core/components/card.astro'

import { talks } from '../modules/talks/constants/talks'
---

<Layout title="Talks" path="/talks">
  <div class="mx-auto mt-10 max-w-7xl px-4 pb-6 md:px-6">
    <section class="my-8">
      <h1 class="text-xl">
        I am an experienced public speaker who is able to deliver keynote talks,
        as well as participate in panels and networking. Furthermore, I also
        joined the group of <a href="https://www.creatorsgarten.org/"
          >Creatorsgarten</a
        > to help organize various events in the past, and future.
      </h1>
    </section>

    <section class="mx-auto grid max-w-5xl grid-cols-2 gap-4">
      {
        talks.map(talk => (
          <Card
            heading={{
              title: talk.title,
              subHeading: {
                left: talk.event,
                right: talk.year,
              },
              links: talk.links.map(link => ({
                label: link.label,
                href: link.url,
              })),
            }}
          >
            {talk.description}
          </Card>
        ))
      }
    </section>
  </div>
</Layout>
