@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-100 !important;
}

.animate-rainbow {
  animation: rot 2s linear infinite;
}

@keyframes rot {
  0%,
  100% {
    filter: hue-rotate(-0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

section a {
  @apply underline hover:text-gray-500;
}
