---
import Layout from '$app/components/layout.astro'
import SEO from '$core/components/seo.astro'

import dayjs from 'dayjs'

import { getGardenPosts } from '$modules/garden/functions/getGardenPosts'
import PageHeader from '$core/components/pageHeader.astro'

let postItems = await getGardenPosts()
---

<Layout>
  <SEO
    slot="seo"
    title="Garden"
    description="This is a short-form writing space where I share my thoughts and ideas."
  />
  <div
    class="mx-auto max-w-3xl space-y-4 px-3 py-12 sm:px-6 xl:max-w-5xl xl:px-0"
  >
    <PageHeader
      title="Garden"
      description="This is a short-form writing space where I share my thoughts and ideas."
    />
    <ul class="space-y-10 py-12">
      {
        postItems.map(item => (
          <li>
            <article class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
              <dl class="pr-2">
                <dt class="sr-only">Published on</dt>
                <dd class="text-base font-medium leading-6 text-gray-500">
                  <time
                    datetime={dayjs(item.created_time).format('YYYY-MM-DD')}
                    transition:name={`time-${item.properties.Slug.rich_text[0].plain_text}`}
                  >
                    {dayjs(item.created_time).format('D MMMM, YYYY')}
                  </time>
                </dd>
              </dl>
              <h3 class="mt-4 text-2xl font-bold leading-8 tracking-tight text-gray-900 xl:col-span-3">
                <a
                  rel="prefetch"
                  href={`/garden/${item.properties.Slug.rich_text[0].plain_text}`}
                  data-astro-prefetch="viewport"
                  transition:name={`title-${item.properties.Slug.rich_text[0].plain_text}`}
                >
                  {item.properties.Topic.title[0].plain_text}
                </a>
              </h3>
            </article>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
